@import "../../../styles/variables.scss";

.container {
  display: flex;
  align-items: center;
}

.container :global .MuiCheckbox-colorPrimary {
  color: $primary;
}

.container :global .MuiCheckbox-colorSecondary {
  color: $light;
}

.label {
  font-size: 1.5rem;
  padding: 20px;
}
