@import "../../styles/variables.scss";

.bar {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  min-width: 600px;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar h2 {
  font-size: 2rem;
  margin-top: 0;
}

.slider {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
