@import "../../styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex: 1;
}

.slider {
  min-width: 400px;
  height: 8px;
  color: $primary;
}

.slider :global .MuiSlider-colorPrimary {
  color: $primary;
}

.slider :global .MuiSlider-thumbColorPrimary {
  color: darken($primary , 10%)
}

.value {
  font-size: 1em;
  padding-left: 2em;
}
