@import "../../styles/variables.scss";

.tabs {
  color: $light;
  text-align: center;
}

.tab {
  font-family: $MainFonts;
  color: $light;
}

.tabs :global .MuiTabs-indicator {
  background-color: darken($primary, 20%);
}

.tabs :global .MuiTab-textColorPrimary {
  color: $light;
}
