@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

$NotoSans: "Noto Sans JP", sans-serif;

$dark: #3f3f3f;

$light: #fff;

$primary: #92310ab2;

// header height
$headerHeight: 25rem;

// image height
$imageHeight: 5rem;
